/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Impact", "Arial Black", sans-serif;
}

/* BODY */
body {
    background: #f2f2f2;
    color: #222;
    line-height: 1.6;
}

/* HEADER */
.hero {
    background: #d00000;
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-bottom: 8px solid black;
}

.title {
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: 4px 4px 0px black;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    font-style: italic;
}

/* SECTIONS */
section {
    max-width: 900px;
    margin: auto;
    padding: 30px 20px;
}

h2 {
    font-size: 2rem;
    color: #d00000;
    margin-bottom: 15px;
    border-left: 6px solid black;
    padding-left: 10px;
}

/* LISTS */
ul li {
    font-size: 1.2rem;
    margin-bottom: 8px;
    padding-left: 10px;
    border-left: 4px solid #d00000;
}

/* PROJECT LINKS */
.projects ul li a {
    color: #d00000;
    text-decoration: none;
    font-weight: bold;
}

.projects ul li a:hover {
    text-decoration: underline;
}

/* CONTACT ICONS */
.badges img {
    margin: 5px;
    transition: 0.3s;
}

.badges img:hover {
    transform: scale(1.1);
}

/* FOOTER */
footer {
    text-align: center;
    background: black;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
